{% macro smallprint() %}
  &copy; {{ "now" | date('Y') }} {{ siteName|default }}. All rights reserved. <a class="yello" href="http://www.yellostudio.co.uk" title="Developed by Yello Studio" target="_blank">Website crafted at Yello Studio</a>
{% endmacro %}