{% import "_includes/forms" as forms %}
<h2>Macros Location</h2>
{{ forms.textField({
  label: "Enter the directory all your macros are stored. This will be somewhare in your craft/templates folder"|t,
  id: 'directory',
  name: 'directory',
  placeholder: '_macros/',
  value: settings.directory,
  errors: settings.getErrors('directory'),
}) }}
